@page "/fetchdata"
@using GitInsight.Data
@inject GitInsightController Controller

<PageTitle>GitInsight</PageTitle>

<h1>GitInsight</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (result == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>result</th>
            </tr>
        </thead>
        <tbody>
                 @foreach (GitInsight.Entities.RepoCheckRepository.comFreqObj result in result)
            {
                <tr>
                    <td>@result.commits</td>
                    <td>@result.date</td>
                </tr>
            } 
        </tbody>
    </table>
}

@code {
    private List<GitInsight.Entities.RepoCheckRepository.comFreqObj> result;

    protected override void OnInitialized()
    {
        Microsoft.AspNetCore.Mvc.OkObjectResult tempResult = (Microsoft.AspNetCore.Mvc.OkObjectResult) Controller.GetAnalysis("SpaceVikingEik/hewwo", "FQMode");
        result = tempResult.Value as List<GitInsight.Entities.RepoCheckRepository.comFreqObj>;
    }
}
