@page "/BtnExit"

<button class="btn btn-primary" @onclick="callExit">EXIT</button>

@code {
    private void callExit()
    {
       @* var test = new Data("https://github.com/rmccue/test-repository");
       test.PrintFreq(); *@
    }
}