@using GitInsight;
@page "/BtnLoad"

<button class="btn btn-primary" @onclick="callLoadData">Load GitRepo</button>

@code {
    private void callLoadData()
    {
       @* var test = new Data("https://github.com/rmccue/test-repository");
       test.PrintFreq(); *@

        var factory = new CommitTreeContextFactory();
        var context = factory.CreateDbContext(new string[0]);
        var authorRepo = new AuthorRepository(context);

        authorRepo.Create(new AuthorCreateDTO("hej"));
    }
}
