@page "/BtnLoad"

<button class="btn btn-primary" @onclick="callLoadData">Load GitRepo</button>

@code {
    private void callLoadData()
    {
       @* var test = new Data("https://github.com/rmccue/test-repository");
       test.PrintFreq(); *@
    }
}
