@page "/BtnSetAuthorMode"

<button class="btn btn-primary" @onclick="callSetAuthorMode">Set Mode: AUTHOR</button>

@code {
    private void callSetAuthorMode()
    {
       @* var test = new Data("https://github.com/rmccue/test-repository");
       test.PrintFreq(); *@
    }
}